@import 'tailwindcss';
@import './tokens.css'; /* 피그마 팔레트·타이포그래피의 고정값 */
@import './theme.css'; /* 다크테마 관련 변수 정의 (배경,텍스트, 보더) */
@import 'material-symbols/outlined.css';
@import 'material-symbols/rounded.css';
@import './scrollbar.css'; /* 스크롤 커스텀 */

@theme {
  --breakpoint-md: 46.5rem; /* 744px: 태블릿 분기 수정 - 피그마 디자인 기준 적용 */
}
@theme inline {
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-geist-mono);
}
/* button PC화면이상에서는 포인터 커서 추가 */
@layer base {
  @variant lg {
    button:not(:disabled):not([aria-disabled='true']) {
      cursor: pointer;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
}
